.container
  max-width: 28rem
  margin: 0 auto
  width: 100%

.title
  font-size: 1.5rem
  font-weight: bold
  margin-bottom: 0.25rem

.subtitle
  font-size: 0.875rem
  color: #4b5563
  margin-bottom: 1.5rem
  
  :global(.dark) &
    color: #9ca3af

.link
  color: #2563eb
  transition: color 0.2s ease-in-out
  
  &:hover
    color: #1d4ed8
  
  :global(.dark) &
    color: #db2777
    
    &:hover
      color: #be185d
